@model PromotionPageViewModel

@{ Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; }

<article class="promotion-page content">
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

    <div class="lead" @Html.EditAttributes(x => x.CurrentPage.Introduction)>
        @Html.PropertyFor(x => x.CurrentPage.Introduction)
    </div>

    <p class="text-muted">目前進行中的活動：@Model.ActivePromotionCount</p>

    @Html.PropertyFor(x => x.CurrentPage.PromotionItems, new { CssClass = "row" })
</article>
